html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.containerDetails {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  height: 125vh; 
  width: 100%;
  overflow: hidden; 
}

.boxDetails1 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-y: auto; 
}

#inside1 {
  background-color: red;
  padding: 0.1rem;
}

#inside1 video {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

#inside2 {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
}

#inside2 span {
  margin-left: 5px;
  margin-right: 5px;
}

.boxDetails2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: aqua;
  overflow-y: auto; 
  height: 100%; 
}

.boxVideo a{
  text-decoration:  none;
  color: white;
}


@media (max-width : 1000px) {
  .containerDetails {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  height: 125vh; 
  width: 100%;
  overflow: hidden; 
}

.boxDetails2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: aqua;
  overflow-y: auto; 
  height: 100%; 
}
}